
header {
    background: ivory;
}

main {
    background: beige;
}

header h1 {
    color: rgb(83, 63, 63);
    font-weight: bold;
    font-size: 35pt;
    text-align: center;
    padding: 15px;
}

header h1 a {
    text-decoration: none;
    color: rgb(83, 63, 63)
}

nav {
    background: ivory;
    text-align: center;
    font-size: 30px;
}

nav li {
    color: rgb(83, 63, 63);
    display: inline-block;
    padding: 5px 10px;
}

nav li:hover {
    background: rgb(83, 63, 63);
}

nav li a {
    color: rgb(83, 63, 63);
    text-decoration: none;
}

nav li:hover a {
    color: ivory;
}

nav li:hover {
    color: ivory;   
}

main h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: rgb(83, 63, 63);
}

h2 {
    background-image: url(https://www.alltech.com/sites/default/files/styles/16_9_large/public/2020-02/Degenerative%20Joint%20Disease%20Dog%20Blog_1200%20x%20675.png.jpg?itok=Mu_1zPUg); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: beige;
    color: ivory;
    font-size: 62pt;
    padding: 200px 0px 270px 0px;
    text-align: center;
}

section.dog-2 {
    display:inline-block;
    margin: 20px;
    color: rgb(83, 63, 63);
    padding: 10px;
}

section.dog-2 img {
    width: 80%;
    text-align: center;
    float: left;
    padding: 40px;
}

section.dog-2 ul a {
    color:rgb(83, 63, 63);
    text-decoration: none;
    padding: 0px 20px 0px 0px;
}

section.dog-2 ul {
    padding: 0px 20px 0px 20px;
    margin: 5px 20px 5px 20px;
    font-size: 25px;

}

section.dog-2:hover ul a {
    background-color: rgb(83, 63, 63);
    color: ivory;
}

section.lower {
    display: inline-block;
    margin: 20px;
    color: rgb(83, 63, 63);
    padding: 10px;
}

section.lower img {
    width: 80%;
    float: left;
    padding: 40px;
}

section.lower ul a {
    color: rgb(83, 63, 63);
    text-decoration: none;
    padding: 0px 20px 0px 0px;
}

section.lower ul {
    padding: 0px 20px 0px 20px;
    margin: 5px 20px 5px 20px;
    font-size: 25px;
}

section.lower:hover ul a {
    background-color: rgb(83, 63, 63);
    color: ivory;
}
 
section.content {
    width: 90%;
    margin: auto;
}

section.CTA {
    text-align: center;
    color: rgb(83, 63, 63);
    font-size: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
}

section.bottom {
    padding: 10px;
    margin: 10px;
}